<div style="text-align: center; margin: 100px auto;">
<h2>
<%= @game.player_1.name %> attacked <%= @game.player_2.name %> !</h2>
</h2>
<%= @game.player_2.name %> points: <%= @game.player_2.hitpoints %>
</div>