<div style=" background: #68D89B;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0; ">
<div style="font-size: 20px; color:#2C2C35;text-align: center; margin: 200px auto;">

<h1 style="color:#9B2915">Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 :
    <input type="text" name="player_1_name">
  </label><br><br>
  <label for="player_2_name">
    Player 2 :
    <input type="text" name="player_2_name">
  </label> <br><br>
  <input style="font-size: 26px; color: black; background-color: #EDDA34;" type="submit" value="Play">
</form>

</div>
</div>