
<div style=" background: #D9EF81;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0; ">
    <div style="font-size: 20px; color: #3B3561 ;text-align: center; margin: 200px auto;">
<h2> <%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h2>

<h3 style="color: #6E0D25"><%= @game.player_2.name %> points: <%= @game.player_2.hitpoints %>
</h3>
<a href='/attack'><button style="font-size: 40px; color: black; background-color: #F26419;">Attack!</button></a>

</div>
</div>