
<div style="text-align: center; margin: 100px auto;">
<h2 style="color: blue"> <%= @player_1_name %> vs. <%= @player_2_name %> </h2>

<h3 style="color: green"> 
<%= @player_2_name %>: 60HP
</h3>
<a href='/attack'><button style="color: red; background-color: gold;">Attack!</button></a>

</div>