
<div style="text-align: center; margin: 100px auto;">
<h2 style="color: blue"> <%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h2>

<h3 style="color: green"> 
</h3>
<h3 style="color: green"><%= @game.player_2.name %> points: <%= @game.player_2.hitpoints %>
</h3>
<a href='/attack'><button style="color: red; background-color: gold;">Attack!</button></a>

</div>